<section class="flex items-center justify-center min-h-screen">
  <div class="container bg-white rounded-lg shadow-lg border border-gray-300 p-4 max-w-3xl">
    <h1 class="text-3xl">Create a new account</h1>
    <p class="text-gray-500">It is quick and easy.</p>
    <form [formGroup]="registerForm" (ngSubmit)="submitForm()" class="grid gap-y-4">
      <div class="relative">
        <input
          [class]="{
            'border-green-700': registerForm.get('name')?.valid,
            'border-red-700': registerForm.get('name')?.invalid && registerForm.get('name')?.touched
          }"
          formControlName="name"
          type="text"
          id="fullName"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border-1 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
          placeholder=" "
        />
        <label
          for="fullName"
          class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >Full Name</label
        >
      </div>

      @if(registerForm.get('name')?.invalid && registerForm.get('name')?.touched){
      <div
        class="flex p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
        role="alert"
      >
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
            @if(registerForm.get('name')?.hasError('required')){
            <li>Full Name is required.</li>
            } @else if (registerForm.get('name')?.hasError('minlength')) {
            <li>Name must be at least 3 characters</li>
            }
          </ul>
        </div>
      </div>
      }

      <div class="relative">
        <input
          formControlName="username"
          type="text"
          id="userName"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border-1 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
          placeholder=" "
        />
        <label
          for="userName"
          class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >userName(Optional)</label
        >
      </div>

      <div class="relative">
        <input
          [class]="{
            'border-green-700': registerForm.get('email')?.valid,
            'border-red-700':
              registerForm.get('email')?.invalid && registerForm.get('email')?.touched
          }"
          formControlName="email"
          type="email"
          id="email"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border-1 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
          placeholder=" "
        />
        <label
          for="email"
          class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >Email Address</label
        >
      </div>

      @if(registerForm.get('email')?.invalid && registerForm.get('email')?.touched){
      <div
        class="flex p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
        role="alert"
      >
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
            @if(registerForm.get('email')?.hasError('required')){
            <li>Email is required.</li>
            } @else if (registerForm.get('email')?.hasError('email')) {
            <li>Please enter a valid email address.</li>
            }
          </ul>
        </div>
      </div>
      }

      <div class="relative">
        <select
          formControlName="gender"
          id="gender"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border-1 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
          placeholder=" "
        >
          <option selected disabled hidden value="">Select Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <label
          for="gender"
          class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >Select Gender</label
        >
      </div>

      @if(registerForm.get('gender')?.invalid && registerForm.get('gender')?.touched){
      <div
        class="flex p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
        role="alert"
      >
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
            <li>Gender is required.</li>
          </ul>
        </div>
      </div>
      }

      <div class="relative">
        <input
          [class]="{
            'border-green-700': registerForm.get('dateOfBirth')?.valid,
            'border-red-700':
              registerForm.get('dateOfBirth')?.invalid && registerForm.get('dateOfBirth')?.touched
          }"
          formControlName="dateOfBirth"
          type="date"
          id="date"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border-1 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
          placeholder=" "
        />
        <label
          for="date"
          class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >Select Date</label
        >
      </div>

      @if(registerForm.get('dateOfBirth')?.invalid && registerForm.get('dateOfBirth')?.touched){
      <div
        class="flex p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
        role="alert"
      >
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
            <li>Date is required.</li>
          </ul>
        </div>
      </div>
      }

      <div class="relative">
        <input
          #pass
          [class]="{
            'border-green-700': registerForm.get('password')?.valid,
            'border-red-700':
              registerForm.get('password')?.invalid && registerForm.get('password')?.touched
          }"
          formControlName="password"
          type="password"
          id="password"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border-1 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
          placeholder=" "
        />
        <label
          for="password"
          class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >Password</label
        >

        <span
          (click)="showPassword(pass)"
          class="absolute top-1/2 end-4 cursor-pointer -translate-y-1/2"
          ><i [class]="pass.type === 'password' ? 'fa-eye-slash' : 'fa-eye'" class="fas"></i
        ></span>
      </div>

      @if(registerForm.get('password')?.invalid && registerForm.get('password')?.touched){
      <div
        class="flex p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
        role="alert"
      >
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
            @if(registerForm.get('password')?.hasError('required')){
            <li>Password is required.</li>
            } @else if (registerForm.get('password')?.hasError('pattern')) {
            <li>Please enter a valid password address.</li>
            }
          </ul>
        </div>
      </div>
      }

      <div class="relative">
        <input
          #repass
          [class]="{
            'border-green-700': registerForm.get('rePassword')?.valid,
            'border-red-700':
              registerForm.get('rePassword')?.invalid && registerForm.get('rePassword')?.touched
          }"
          formControlName="rePassword"
          type="password"
          id="rePassword"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-heading bg-transparent rounded-base border-1 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
          placeholder=" "
        />
        <label
          for="rePassword"
          class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-neutral-primary px-2 peer-focus:px-2 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >Confirm Passsword</label
        >

        <span
          (click)="showPassword(repass)"
          class="absolute top-1/2 end-4 cursor-pointer -translate-y-1/2"
          ><i [class]="repass.type === 'password' ? 'fa-eye-slash' : 'fa-eye'" class="fas"></i
        ></span>
      </div>

      @if(registerForm.get('rePassword')?.invalid && registerForm.get('rePassword')?.touched){
      <div
        class="flex p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
        role="alert"
      >
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
            @if(registerForm.get('name')?.hasError('required')){
            <li>Please confirm your password.</li>
            } @else if (registerForm.get('rePassword')?.hasError('mismatch')) {
            <li>Passwords do not match</li>
            }
          </ul>
        </div>
      </div>
      }

      <button
        type="submit"
        [disabled]="loading"
        class="disabled:bg-gray-500 disabled:cursor-not-allowed bg-mainColor py-1.5 rounded text-white cursor-pointer"
      >
        Create New Account @if(loading) {
        <i class="fas fa-spinner animate-spin"></i>
        }
      </button>

      @if(msgError) {
      <p class="text-center text-red-800 mx-auto p-2">{{ msgError }}</p>
      }

      <button
        routerLink="/login"
        type="button"
        class="border border-blue-600 cursor-pointer mt-2 text-blue-600 rounded-full py-2"
      >
        I already have an account
      </button>
    </form>
  </div>
</section>
