<div class="max-w-md mx-auto bg-white shadow rounded-xl p-6 mt-10">
  <h2 class="text-xl font-bold mb-4">Change Password</h2>

  <form [formGroup]="changeForm" (ngSubmit)="changePassword()">
    <div class="mb-3 relative">
      <label>Current Password</label>

      <input
        #pass
        formControlName="password"
        type="password"
        class="w-full border rounded p-2 pr-10"
      />

      <span
        (click)="showPassword(pass)"
        class="absolute right-3 top-9 cursor-pointer text-gray-500"
      >
        <i [class]="pass.type === 'password' ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"> </i>
      </span>
    </div>

    @if(changeForm.get('password')?.invalid && changeForm.get('password')?.touched){
    <div
      class="flex p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
      role="alert"
    >
      <span class="sr-only">Danger</span>
      <div>
        <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
          @if(changeForm.get('password')?.hasError('required')){
          <li>Password is required.</li>
          } @else if (changeForm.get('password')?.hasError('pattern')) {
          <li>Please enter a valid password address.</li>
          }
        </ul>
      </div>
    </div>
    }

    <div class="mb-3 relative">
      <label>New Password</label>
      <input
        #newpass
        formControlName="newPassword"
        type="password"
        class="w-full border rounded p-2"
      />
      <span
        (click)="showPassword(newpass)"
        class="absolute right-3 top-9 cursor-pointer text-gray-500"
      >
        <i [class]="pass.type === 'password' ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"> </i>
      </span>
    </div>

    @if(changeForm.get('newPassword')?.invalid && changeForm.get('newPassword')?.touched){
    <div
      class="flex p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
      role="alert"
    >
      <span class="sr-only">Danger</span>
      <div>
        <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
          @if(changeForm.get('newPassword')?.hasError('required')){
          <li>New Password is required.</li>
          } @else if (changeForm.get('newPassword')?.hasError('pattern')) {
          <li>Please enter a valid New Password.</li>
          }
        </ul>
      </div>
    </div>
    }

    <div class="mb-3 relative">
      <label>Confirm New Password</label>
      <input #repass type="password" class="w-full border rounded p-2" />
      <span
        (click)="showPassword(repass)"
        class="absolute right-3 top-9 cursor-pointer text-gray-500"
      >
        <i [class]="pass.type === 'password' ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"> </i>
      </span>
    </div>

    @if(changeForm.get('rePassword')?.invalid && changeForm.get('rePassword')?.touched){
    <div
      class="flex p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
      role="alert"
    >
      <span class="sr-only">Danger</span>
      <div>
        <ul class="mt-2 list-disc list-outside space-y-1 ps-2.5">
          @if(changeForm.get('rePassword')?.hasError('required')){
          <li>RePassword is required.</li>
          } @else if (changeForm.get('rePassword')?.hasError('pattern')) {
          <li>Please enter a valid rePassword.</li>
          }
        </ul>
      </div>
    </div>
    }

    <button class="bg-blue-600 text-white px-4 py-2 rounded w-full">Update Password</button>
  </form>
</div>
